
                            <div class="row  bgprimarycolor p-4">
                          <div class="col-sm-6 col-12">
                            <span class=" txtwhitecolor ms-3 " >adminpanel / Dashboard</span>
                          </div>
                          <div class="col-sm-6 col-12 text-end">
                              
                                <i class="fa-solid fa-house txtwhitecolor me-2 mt-1"></i><span class="txtwhitecolor fw-bold mt-1">Home Page</span>
                       
                          <div class="div btn bgseccolor ms-3 mt-1">
                            <i class="fa-solid fa-user-gear txtpinkcolor me-2"></i><span class="txtwhitecolor fw-bold">{{user.username}}</span>
                      </div>
                            </div>
                        </div>